@page
@model ABMBovine
@{ ViewData["Title"] = "ABMBovine";
    Layout = "_LayoutMenu"; }
<div class="container" id="app">
    <div class="row text-center">
        <form style="border-radius: 10px;" method="post">
            <div class="offset-2 col-8 " style="border: solid; padding-left: 0px; padding-right: 0px;">
                <div style="background-color:black;">
                    <h3 style="color:white">@Model.title</h3>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="~/Images/BovineIndetifier.gif" style="width: 30%;" alt="Identificador" />
                        <div><label>Foto</label></div>
                        <img src="~/Images/BovineIndetifier.gif" style="width: 30%;" alt="Identificador" />
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="col-6">
                                <div style="text-align:left!important;"><label>Caravana</label></div>
                                <input class="form-control " type="text" asp-for="bovine.tag" placeholder="Tag" required />
                            </div>
                            <div class="col-6">
                                <div style="text-align:left!important;"><label>Fecha de caravaneo</label></div>
                                <input class="form-control " type="datetime-local" asp-for="bovine.taggingDate" placeholder="Fecha" required />
                            </div>
                            <div class="col-6">
                                <div style="text-align:left!important;"><label>Sexo</label></div>
                                <select name="Sexo" class="form-control">
                                    <option value="">Seleccionar</option>
                                    <option value="1">Macho</option>
                                    <option value="2">Hembra</option>
                                </select>
                            </div>
                        </div>
                        <div style="text-align:left!important;"><label>Descripcion</label></div>
                        <input class="form-control" type="text" asp-for="bovine.description" placeholder="Descripcion" required />
                    </div>
                    <div class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert" hidden="@(Model.valid == "invalid-Delete1")">
                        No se pudo eliminar el bovino<br />
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-12" style="margin:10px;"></div>
                    <div class="col-12 align-self-end">
                        <button class="btn btn-info">Guardar</button>
                        <button class="btn btn-dark">Cancelar</button>
                    </div>
                    @*<button asp-action="DeleteBovine" class="btn btn-danger float-right">Borrar</button>*@
                    @*<button type="submit" asp-page-handler="delete" asp-route-id="bovine.tag">Borrar</button>*@

                </div>
            </div>
        </form>
    </div>
</div>
