@page
@model IndexModel
@{
    ViewData["Title"] = "Ingreso";
    ViewData["url"] = "http://192.168.100.5:30023";
}

<div class="container" id="app">
    <div class="row text-center">
        <div class="col-md-5 offset-md-7 " style="margin-top:100px">
            <form style="border-radius: 10px; background: rgba(0, 0, 0, 0.5);" method="post">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <img src="~/Images/Logo_login.png" style="width: 75%;" alt="Logo CEMA"/>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 alert alert-danger alert-dismissible fade show" role="alert" hidden="@(Model.valid != "is-invalid")">
                    Nombre de usuario y contraseña inválidos.<br>Por favor intenta nuevamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 login-from-row form-group">
                        <input class="form-control @Model.valid" type="text" asp-for="Username" placeholder="Usuario" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 login-from-row form-group">
                        <input class="form-control @Model.valid" type="password" asp-for="Password" placeholder="Contraseña" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-4 login-from-row" style="padding-top:8px;">
                        <input type="checkbox" id="cbox2" value="true"> <label style="color:white" for="cbox2">Recuerdame</label>
                    </div>
                    <div class="col-md-7 login-from-row">
                        <a class="nav-link text-info" asp-area="" asp-page="">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-12 login-from-row">
                        <input type="submit" class="btn btn-dark text-white" value="Iniciar Sesión">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 from-row" style="padding-top:8px;">
                        <label style="color:white">¿Por primera vez en <b>CEMA</b>?</label>
                        <a class="nav-link text-info">Suscribete ya</a>

                    </div>
                    <div class="col-md-6 from-row">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>